body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.nav-list, .address-list {
    display: flex;
    gap: 40px;
}

.address {
    margin-left: auto;
}

.address-list {
    
}

img { 
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 
               0px 1px 1px rgba(46, 47, 66, 0.16), 
               0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-header {
    display: flex;
    align-items: center;

} 


.div-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.page-title {
    color: #FFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    
}

.logo-header { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo-span-header {
    color: #2E2F42;
}

.nav-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio {
    color: #404bbf;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio::before {
    content: "";
}

.nav-link-studio::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    content: "";
}

.nav-link:hover {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.nav-link:focus {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.address-link:focus {
    color: #404BBF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.button {
    cursor: pointer;
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
    background: #404BBF;
}

.button:focus {
    background: #404BBF;
}

.section-first {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), 
        url("../images/hero/people-office.jpg");
        background-size: cover;
    background-color: #2E2F42;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}

.section-first-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

/* Class for header h3 */
.card-title {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.card-text {
    letter-spacing: 0.02em;
}

.section-second {
    padding: 120px 0;
}

.section-second-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.section-second-list {
    display: flex;
    gap: 24px;
}

.section-second-list-el {
    width: calc((100% - 72px) / 4);

}

.section-second-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}

.section-third {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-third-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-third-list {
    display: flex;
    gap: 24px;
}

.section-third-list-el {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.staff-card {
    padding: 32px 0;
}

.staff-card-title {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.staff-card-text {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.sos-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.sos-media-list-el {
    width: 40px;
    height: 40px;
 
}

.sos-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sos-media-link:hover, .sos-media-link:focus {
    background-color: #404BBF;
}

.sos-media-icon {
    fill: #F4F4FD;
}

.section-fourth {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-fourth-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-fourth-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-fourth-list-el {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-card-title {
    margin-bottom: 8px;
}

.portfolio-card-pic {
    position: relative;
    overflow: hidden;
}


.portfolio-card-link {
    color: #434455;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover, .portfolio-card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-link:hover .portfolio-card-pic-text {
    transform: translateY(0);
}

.portfolio-card-pic-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40PX 32PX;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-lote {
    margin-right: 120px;
}

.footer-container-sm {

}

.footer-container-sm-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-container-sm-li {
    display: flex;
    gap: 16px;
}

.footer-container-sm-liel {
    width: 40px;
    height: 40px;
}

.footer-container-sm-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-sm-link:hover, .footer-container-sm-link:focus {
    background-color: #31d0aa;
}

.footer-container-sm-icon {
    fill: #F4F4FD
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    color: #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-span-footer {
    color: #F4F4FD;
}

/* ================ BACKDROP STYLES =============== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ================ MODAL WINDOW STYLES =============== */

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    padding: 72px 24px 24px 24px;

}

.modal-window-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    
}

.modal-window-close-button-icon {
    fill: #E7E9FC;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
}

.leave-contacts {
    width: 360px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-contacts-wrapper {
    margin-bottom: 8px;
}

.form-contacts-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.form-contacts-input-wrapper {
    position: relative;
}

.form-contacts-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
}

.form-contacts-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}